# 이름: 황지희
# 학번: 2020312298
# 학과: 국어국문학과

##### presidents DataFrame

In [115]:
import pandas as pd
import numpy as np
president_data  = {'name': ['이승만', '윤보선', '박정희', '최규하', '전두환', '노태우',
                       '김영삼', '김대중', '노무현', '이명박', '박근혜', '문재인'],
        'turnout': [91.8, 79.1, 46.6, 96.3, 99.4, 36.6,
                    42, 40.3, 48.9, 48.7, 51.6,41.1],
        'jail': ['no', 'no', 'no', 'no', 'yes', 'yes',
                'no', 'no', 'no','yes','yes',np.nan],
        'period':[4273, 588, 5793, 255, 2733, 1827, 1826, 1825, 1826, 1827, 1474, 1780]}
labels = ['가', '나', '다', '라', '마', '바', '사', '아', '자', '차','카','타']
presidents = pd.DataFrame(president_data, index=labels )

### Q1. 위 presidents DataFrame에서 대통령을 period(재임기간) 5년 미만, 5년 이상 ~ 10년 미만, 10년 이상을 기준으로 Grouping 하고 그룹별로 turnout(득표율)의 평균을 Series로 보여주는 코드를 작성하세요.

In [116]:
year5_label = ['5년 미만', '5년 이상~10년 미만', '10년 이상']
year5 = [0, 365*5, 365*10, 365*16]
presidents['period 5 years'] = pd.cut(presidents['period'], year5, right = False, labels = year5_label)
presidents

  name  turnout jail  period period 5 years
가  이승만     91.8   no    4273         10년 이상
나  윤보선     79.1   no     588          5년 미만
다  박정희     46.6   no    5793         10년 이상
라  최규하     96.3   no     255          5년 미만
마  전두환     99.4  yes    2733   5년 이상~10년 미만
바  노태우     36.6  yes    1827   5년 이상~10년 미만
사  김영삼     42.0   no    1826   5년 이상~10년 미만
아  김대중     40.3   no    1825   5년 이상~10년 미만
자  노무현     48.9   no    1826   5년 이상~10년 미만
차  이명박     48.7  yes    1827   5년 이상~10년 미만
카  박근혜     51.6  yes    1474          5년 미만
타  문재인     41.1  NaN    1780          5년 미만

In [117]:
presidents.groupby('period 5 years')['turnout'].mean()

period 5 years
5년 미만           67.025
5년 이상~10년 미만    52.650
10년 이상          69.200
Name: turnout, dtype: float64

### Q2. 위 presidents DataFrame에서 1. turnout(득표율) 50% 미만/이상, 2. jail(대통령 역임 후 수감) 여부   2가지로 Grouping하고 그룹별로 period(재임기간)의 평균을 Series로 보여주는 코드를 작성하세요.

In [118]:
turnout50_label = ['50% 미만', '50% 이상']
turnout50 = [0, 50, 100]
presidents['turnout more/less 50%'] = pd.cut(presidents['turnout'], turnout50, right = False, labels = turnout50_label)
presidents

  name  turnout jail  period period 5 years turnout more/less 50%
가  이승만     91.8   no    4273         10년 이상                50% 이상
나  윤보선     79.1   no     588          5년 미만                50% 이상
다  박정희     46.6   no    5793         10년 이상                50% 미만
라  최규하     96.3   no     255          5년 미만                50% 이상
마  전두환     99.4  yes    2733   5년 이상~10년 미만                50% 이상
바  노태우     36.6  yes    1827   5년 이상~10년 미만                50% 미만
사  김영삼     42.0   no    1826   5년 이상~10년 미만                50% 미만
아  김대중     40.3   no    1825   5년 이상~10년 미만                50% 미만
자  노무현     48.9   no    1826   5년 이상~10년 미만                50% 미만
차  이명박     48.7  yes    1827   5년 이상~10년 미만                50% 미만
카  박근혜     51.6  yes    1474          5년 미만                50% 이상
타  문재인     41.1  NaN    1780          5년 미만                50% 미만

In [119]:
presidents.groupby(['turnout more/less 50%','jail'])['period'].mean()

turnout more/less 50%  jail
50% 미만                 no      2817.500000
                       yes     1827.000000
50% 이상                 no      1705.333333
                       yes     2103.500000
Name: period, dtype: float64

### Q3. 다음 인종실록 데이터에서 category(기사주제)의 숫자를 기준으로 Grouping하고, 그룹별로 content_length(기사 길이)의 평균을 Series로 보여주는 코드를 작성하세요.

In [109]:
injong_sillok = pd.read_csv('injong_sillok.csv')

In [110]:
injong_sillok['category'] = injong_sillok['category'].apply(eval)
injong_sillok_exp = injong_sillok.explode('category').reset_index()

In [111]:
injong_sillok_exp['category num'] = injong_sillok_exp.groupby('url')['category'].transform('count')

In [112]:
injong_sillok_exp['content length'] = injong_sillok_exp['content'].apply(len)

In [113]:
injong_sillok_exp

,index,url,title,content,category,category num,content length
0,0,http://sillok.history.go.kr/id/kla_10101001_001,삭전을 지내고 상식을 올리다,상이 삭전 을 지내고 상식 을 올렸다.이에 앞서는 삭망전과 별제 를 대군 ...,왕실(王室),1,81
1,1,http://sillok.history.go.kr/id/kla_10101001_002,햇무리가 지다,햇무리가 졌다.,과학-천기(天氣),1,8
2,2,http://sillok.history.go.kr/id/kla_10101002_001,조석전을 지내고 상식을 올리다,상이 조석전을 지내고 상식을 올렸다.,왕실(王室),1,20
3,3,http://sillok.history.go.kr/id/kla_10101002_002,좌의정 홍언필이 사직을 청하다,"좌의정 홍언필이 아뢰기를,""신은 장구나 따지는 하찮은 선비로서 어쩌다가 과제에 들...",왕실(王室),4,1642
4,3,http://sillok.history.go.kr/id/kla_10101002_002,좌의정 홍언필이 사직을 청하다,"좌의정 홍언필이 아뢰기를,""신은 장구나 따지는 하찮은 선비로서 어쩌다가 과제에 들...",정론(政論),4,1642
...,...,...,...,...,...,...,...
1517,664,http://sillok.history.go.kr/id/kla_10107006_004,동부승지 이윤경이 교서 반포에 대해 아뢰다,"동부승지 이윤경이 아뢰기를,""즉위하면 반드시 교서를 반포해야 하고, 조종께서 교서...",왕실-의식(儀式),3,202
1518,664,http://sillok.history.go.kr/id/kla_10107006_004,동부승지 이윤경이 교서 반포에 대해 아뢰다,"동부승지 이윤경이 아뢰기를,""즉위하면 반드시 교서를 반포해야 하고, 조종께서 교서...",왕실-국왕(國王),3,202
1519,664,http://sillok.history.go.kr/id/kla_10107006_004,동부승지 이윤경이 교서 반포에 대해 아뢰다,"동부승지 이윤경이 아뢰기를,""즉위하면 반드시 교서를 반포해야 하고, 조종께서 교서...",사법(司法),3,202
1520,665,http://sillok.history.go.kr/id/kla_10107006_005,사인 이천계가 교서의 내용에 관해 아뢰다,"사인 이천계가 영상·좌상의 뜻으로 아뢰기를,""사유 교서에 ‘관계강상·장오 이외...",사법(司法),1,141
1521,666,http://sillok.history.go.kr/id/kla_10107006_006,사유를 반포하다,"사유를 반포하였다. 그 교서는 이러하다.""하늘이 하국에 재앙을 일으킨 것이 이때보다...",사법(司法),1,1175

In [114]:
injong_sillok_exp.groupby('category num')['content length'].mean()

category num
1     129.885827
2     526.405556
3     492.888889
4     742.000000
5    1260.607143
6    1572.666667
7    2747.000000
8    5764.400000
Name: content length, dtype: float64